@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Grotesk";
  src: url("/ruta/a/space-grotesk.woff2") format("woff2"),
    url("/ruta/a/space-grotesk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  .header {
    background-color: #2c2c2c;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  /* Ajusta los valores de color según tus preferencias 
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 3s infinite;
}
