@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Space Grotesk";
  src: url("/ruta/a/space-grotesk.woff2") format("woff2"),
    url("/ruta/a/space-grotesk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/robotomono/v9/L0x5DF4xlVMF-BfR8bXMIjPNfKCWmw.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotomono/v9/L0x5DF4xlVMF-BfR8bXMIjPNfKCWmw.woff")
      format("woff");
}
.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

:root {
  --background-start: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
  --primary-color: #6a00ff;
  --highlight-color: #bcff14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #6a00ff;
    --highlight-color: #bcff14;
    --background-start: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background-color: rgb(var(--background-start));
  color: rgb(var(--foreground-rgb));
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #2c2c2c;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    color: rgb(var(--foreground-rgb));
  }
  main {
    margin: 3rem 0 3rem 0;
  }

  ::selection {
    background-color: var(--primary-color);
    color: rgb(var(--foreground-rgb));
  }
}

.highlight-text {
  color: var(--highlight-color);
  font-weight: 900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*  animations */
@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 5s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.diagonal-borders-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);
  clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0 100%);
}
